<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Very simple login form - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">

    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action="/register" method="POST">
			  <fieldset>
			    <div id="legend">
			      <legend class="">Register</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Username</label>
			      <div class="controls">
			        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
            <!-- first name-->
           <label class="control-label" for="password">First Name</label>
           <div class="controls">
             <input type="text" id="firstname" name="fname" placeholder="" class="input-xlarge">
           </div>
         </div>
         <div class="control-group">
           <!-- last name-->
           <label class="control-label" for="password">Last Name</label>
           <div class="controls">
             <input type="text" id="lastname" name="lname" placeholder="" class="input-xlarge">
           </div>
         </div>
         <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success" type= "submit">Register</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

</script>
</body>
</html>
